includes:
    - services/console.neon
    - services/php-code-sniffer.neon
    - services/php-cs-fixer.neon

services:
    - Symplify\MultiCodingStandard\Configuration\Configuration
    - Symplify\MultiCodingStandard\Configuration\MultiCsFileLoader(%configPath%)
