services:
    # PHP_CodeSniffer helpers
    - Symplify\MultiCodingStandard\CodeSniffer\CodeSnifferFactory
    -
        class: PHP_CodeSniffer
        factory: [@Symplify\MultiCodingStandard\CodeSniffer\CodeSnifferFactory, "create"]
    - Symplify\MultiCodingStandard\CodeSniffer\FileSystem\SniffFileSystem(%appDir%/../vendor)
    - Symplify\MultiCodingStandard\CodeSniffer\FileSystem\RulesetFileSystem(%appDir%/../vendor)
    - Symplify\MultiCodingStandard\CodeSniffer\Naming\SniffNaming

    # console
    - Symplify\MultiCodingStandard\Console\Application
    - Symplify\MultiCodingStandard\Command\CheckCommand
    - Symplify\MultiCodingStandard\Console\Style\StyleFactory
    -
        factory: [@Symplify\MultiCodingStandard\Console\Style\StyleFactory, "create"]
    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput

    # configuration
    - Symplify\MultiCodingStandard\Configuration\Configuration
    - Symplify\MultiCodingStandard\Configuration\MultiCsFileLoader(%configPath%)
