services:
    # PHP_CodeSniffer helpers
    - Symplify\MultiCodingStandard\CodeSniffer\CodeSnifferFactory
    -
        class: PHP_CodeSniffer
        factory: [@Symplify\MultiCodingStandard\CodeSniffer\CodeSnifferFactory, "create"]
    - Symplify\MultiCodingStandard\CodeSniffer\FileSystem\SniffFileSystem(%appDir%/../vendor)
    - Symplify\MultiCodingStandard\CodeSniffer\FileSystem\RulesetFileSystem(%appDir%/../vendor)
    - Symplify\MultiCodingStandard\CodeSniffer\Naming\SniffNaming

    # console
    - Symplify\MultiCodingStandard\Console\Application
    - Symplify\MultiCodingStandard\Command\CheckCommand

    # configuration
    - Symplify\MultiCodingStandard\Configuration\Configuration
    - Symplify\MultiCodingStandard\Configuration\MultiCsFileLoader(%appDir%/../multi-cs.json)
