extensions:
    multiCs: Symplify\MultiCodingStandard\DI\MultiCodingStandardExtension
    - Symplify\PHP7_CodeSniffer\DI\Php7CodeSnifferExtension


multiCs:
    configPath: %appDir%/PhpCsFixer/PhpCsFixerFactory/FixerLevel/multi-cs.json
