services:
    - Symplify\MultiCodingStandard\Console\MultiCodingStandardApplication
    - Symplify\MultiCodingStandard\Command\RunCommand

    - Symplify\MultiCodingStandard\Console\Style\StyleFactory
    -
        factory: [@Symplify\MultiCodingStandard\Console\Style\StyleFactory, "create"]
    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput
