services:
    - Symplify\MultiCodingStandard\Console\Application
    - Symplify\MultiCodingStandard\Command\CheckCommand
    - Symplify\MultiCodingStandard\Command\FixCommand
    - Symplify\MultiCodingStandard\Console\Style\StyleFactory
    -
        factory: [@Symplify\MultiCodingStandard\Console\Style\StyleFactory, "create"]
    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput
