services:
    # native
    - Symfony\CS\Fixer
    - Symplify\MultiCodingStandard\PhpCsFixer\Configuration\ConfigurationResolverFactory
    -
        factory: [@Symplify\MultiCodingStandard\PhpCsFixer\Configuration\ConfigurationResolverFactory, "create"]

    # application
    - Symplify\MultiCodingStandard\PhpCsFixer\Factory\FixerResolver
    - Symplify\MultiCodingStandard\PhpCsFixer\Factory\FixerSetFactory
    - Symplify\MultiCodingStandard\PhpCsFixer\Application\Application
