services:
    - Symplify\PHP7_CodeSniffer\Php7CodeSniffer
#    - Symplify\PHP7_CodeSniffer\Configuration\Configuration
    - Symplify\PHP7_CodeSniffer\Configuration\ConfigurationResolver
    - Symplify\PHP7_CodeSniffer\Standard\StandardFinder

    - Symplify\PHP7_CodeSniffer\Finder\SourceFinder
    - Symplify\PHP7_CodeSniffer\File\SourceFilesProvider
    - Symplify\PHP7_CodeSniffer\File\FileFactory
    - Symplify\PHP7_CodeSniffer\Fixer
    - Symplify\PHP7_CodeSniffer\ErrorDataCollector
    - Symplify\PHP7_CodeSniffer\Parser\FileToTokensParser
    - Symplify\PHP7_CodeSniffer\Parser\EolCharDetector
    - PHP_CodeSniffer\Util\Tokens

    # event dispatcher
    - Symplify\PHP7_CodeSniffer\EventDispatcher\CurrentListenerSniffCodeProvider
    - Symplify\PHP7_CodeSniffer\EventDispatcher\CurrentListenerAwareEventDispatcher
#    - Symplify\PHP7_CodeSniffer\Configuration\EventSubscriber\ResolveConfigurationEventSubscriber
